<div class="nav-side-menu">
    <div class="brand">Eagle</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list" ng-controller="navigateBar">
        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                </a>
            </li>
            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li class="active"><a href="#">CSS3 Animation</a></li>
                <li><a href="#">General</a></li>
                <li><a href="#">Buttons</a></li>
                <li><a href="#">Tabs &amp; Accordions</a></li>
                <li><a href="#">Typography</a></li>
                <li><a href="#">FontAwesome</a></li>
                <li><a href="#">Slider</a></li>
                <li><a href="#">Panels</a></li>
                <li><a href="#">Widgets</a></li>
                <li><a href="#">Bootstrap Model</a></li>
            </ul>
            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li>New Service 1</li>
                <li>New Service 2</li>
                <li>New Service 3</li>
            </ul>


            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li>New New 1</li>
                <li>New New 2</li>
                <li>New New 3</li>
            </ul>
            <li>
                <a href="/#/">
                    <i class="fa fa-user fa-lg"></i> Index
                </a>
            </li>
            <li ng-show="!isLogin">
                <a href="#/signin">
                    <i class="fa fa-users fa-lg"></i> sign in
                </a>
            </li>
            <li>
                <a href="#/signup">
                    <i class="fa fa-users fa-lg"></i> sign up
                </a>
            </li>
            <li ng-show="isLogin">
                <a href="/signout">
                    <i class="fa fa-users fa-lg"></i> sign out
                </a>
            </li>

        </ul>
    </div>
</div>
<div class="container" id="main">
    <div class="row">
        <div class="col-md-12">
            <div ng-show="isLogin" ng-controller="showDashboard">
            <div>tips: {{ popup }}</div>
            <p>Create your container:</p>
            <form >
                <select ng-model="selectedImage" ng-options="img.name for img in images">
                </select>
                <input type="text" name="containerName" ng-model="containerName"/>
                <button ng-click="createIns()">create</button>
                
            </form>
            <p>Instance dashboard:</p>
            <table class="table table-striped">
              <tr>
                <th>#</th>
                <th>vm serial</th> 
                <th>vm name</th>
                <th>image_id</th>
                <th>host</th>
                <th>port</th>
                <th>status</th>
                <th>operate</th>
              </tr>

              <tr ng-repeat="instance in instances">
                <td>#</td>
                <td>{{instance.container_serial}}</td>
                <td>{{instance.container_name}}</td>
                <td>{{instance.image_id}}</td> 
                <td>{{instance.host}}</td>
                <td>{{instance.port}}</td>
                <td>{{instance.status}}</td>
                <td>
                  <button ng-click="stopIns(instance.container_serial)">stop</button>
                  <button ng-click="rmIns(instance.container_serial)">remove</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
    </div>
<!-- Custom styles for this template -->
<link href="public/css/dashboard.css" rel="stylesheet">
</div>