<ul ng-controller="navigateBar">
  <li><a href="#/">index</a></li>
  <li ng-show="!isLogin"><a href="#/signin">sign in</a></li>
  <li><a href="#/signup">sign up</a></li>
  <li ng-show="isLogin"><a href="#/signout">sign out</a></li>
</ul>

<form ng-controller="signUp" name="signupform" novalidate>
  <dt/>Username:
	<dd/><input type="text" name="username" ng-model="username" required/>
	<span style="color:red" ng-show="signupform.username.$dirty && signupform.username.$invalid"></span>
	<span style="color:red" ng-show="signupform.username.$error.required">username required</span>
	<dt/>Password:
	<dd/><input type="password" name="password" ng-model="password" required/>
	<span style="color:red" ng-show="signupform.password.$error.required">password required</span>
	<dt/>Email:
	<dd/><input type="email" name="email" ng-model="email" required/>
	<span style="color:red" ng-show="signupform.email.$error.email">invalid email</span>
	<dt/><button ng-click="submit()">submit</button>
	<span>{{popup}}</span>
</form>