<form ng-controller="signUp" name="signupform" novalidate>
  <dt/>Username:
	<dd/><input type="text" name="username" ng-model="username" required/>
	<span style="color:red" ng-show="signupform.username.$dirty && signupform.username.$invalid"></span>
	<span style="color:red" ng-show="signupform.username.$error.required">用户名是必须的</span>
	<dt/>Password:
	<dd/><input type="password" name="password" ng-model="password" required/>
	<span style="color:red" ng-show="signupform.password.$error.required">密码是必须的</span>
	<dt/>Email:
	<dd/><input type="email" name="email" ng-model="email" required/>
	<span style="color:red" ng-show="signupform.email.$error.email">非法的邮箱</span>
	<dt/><button ng-click="submit()">submit</button>
	<span ng-show="isSuccessful">注册成功</span>
</form>