<ul ng-controller="navigateBar">
  <li><a href="/#/">index</a></li>
  <li ng-show="!isLogin"><a href="#/signin">sign in</a></li>
  <li><a href="#/signup">sign up</a></li>
  <li ng-show="isLogin"><a href="/signout">sign out</a></li>
</ul>

<div class="container" ng-controller="signUp">

  <form class="form-signin" ng-controller="signUp">
    <h2 class="form-signin-heading">Please sign up</h2>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Username" ng-model="username" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="password" required>
    <button class="btn btn-lg btn-primary btn-block" ng-click="submit()">Sign up</button>
    <span>{{popup}}</span>
  </form>
<!-- Custom styles for this template -->
<link href="public/css/signin.css" rel="stylesheet">
</div> <!-- /container -->