<ul ng-controller="navigateBar">
  <li><a href="#/">index</a></li>
  <li ng-show="!isLogin"><a href="#/signin">sign in</a></li>
  <li><a href="#/signup">sign up</a></li>
  <li ng-show="isLogin"><a href="#/signout">sign out</a></li>
</ul>

<form ng-controller="signIn">
	<dl>
	  <dt>Username:
	  <dd><input type="text" ng-model="username"/>
	  <dt>Password:
	  <dd><input type="password" ng-model="password"/>
	  <dd><button ng-click="submit()">submit</button>
	  <span>{{popup}}</span>
	</dl>
</form>